<h1>Cinema <br>Ironhack</h1>
<a href="/movies" class="button">Check the movies!</a>

<style> 
h1{
    font-size: 80px;
}
html {
    color: white;
    text-align: center;
}
html {
  background-image: url("/images/cinema.jpg");
  background-repeat: no-repeat;
width: auto;
}
.button {
  background-color: white;
  border: none;
  color: #00B7FF;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
</style>